/* *{margin:0; padding: 0; box-sizing: border-box;} */



.heading{
  color:blue;
  text-align: center;
  text-transform: capitalize;
  font-weight:bold;
  text-shadow: 0px 2px 4px #ffe9c5;
  margin : 50px 0px;

}
.img-div{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.img-div img{
  width : 250px;
  height : 300px;
  display : flex;
  justify-content: center;
}
